
<<<<<<< HEAD
.title {
    text-align: center;
=======

li {
    display: inline;
    margin: 10px;
>>>>>>> 5216e50c72f9ac5b964c203384669f05cfe3206c
}

.ui.fluid.dropdown{
    width:20%;
    display :inline-block;
    margin:0 10px;
}

.inquiryBtn {
    display: inline-block;
}
.ui.table{
    width : 80%;
}
tr{
    display:flex;
}
<<<<<<< HEAD
.indNo,.indNoShow{
    flex:2;
}
.indName,.indNameShow{
    flex:2;
}
.stayAvg,.stayAvgShow{
    flex:1;
}
.stayMax,.stayMaxShow{
    flex:1;
}
.stayMin,.stayMinShow{
    flex:1;
}
.stayStd,.stayStdShow{
    flex:1;
}
.stayCnt,.stayCntShow{
=======
.indNo{
    flex:2;
}
.indName{
    flex:2;
}
.stayAvg{
    flex:1;
}
.stayMax{
    flex:1;
}
.stayMin{
    flex:1;
}
.stayStd{
    flex:1;
}
.stayCnt{
>>>>>>> 5216e50c72f9ac5b964c203384669f05cfe3206c
    flex:1;
}